@charset "utf-8";

header {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
header ul {
    display: flex;
    padding: 10px 10px;
    align-items: center;
}
ul {
    list-style: none;
}

li {
    padding: 10px 20px;
}

li + li {
    border-left: 1px solid #4c4c4c;
}

.box1 {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box2 {
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    row-gap: 10px;
}

.box-blue {
    width: 31.25%;
    height: 300px;
    background-color: blue;
}
.box-red {
    width: 31.25%;
    height: 300px;
    background-color: red;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header h1 {
        padding: 0 10px;
    }
    nav {
        height: auto;
        width: 100%;
    }
    header ul {
        flex-direction: column;
        align-items: flex-start;
    }
    li {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #4c4c4c;
    }
    li + li {
        border-left: none;
    }
}
